.catalog_view_more {
    display: inline-block;
    background-color: pink;
    color: blueviolet;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.catalog_view_more:hover {
    background-color: plum;
}

.catalog_item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    max-height: 580px;
    transition: transform 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.catalog_item:hover {
    transform: scale(1.03);
}

.catalog_image {
    height: 200px ;
    width: auto;
}

.catalog_name {
    padding: 5px;
    font-size: 1.2rem;
    color: blueviolet;
}

.catalog_age {
    padding: 5px;
    font-size: 1rem;
    color: #e74c3c;
    font-weight: bold;
}
.catalog_power {
    padding: 5px;
    font-size: 1rem;
    color: #e74c3c;
    font-weight: bold;
}